
    body {
        background-color: rgb(196, 167, 151);
      }
      
      h1 {
        color: rgb(75, 108, 136);
        text-align: center;
      }
      
      p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
      }
  