
    body {
        background-color: rgb(196, 167, 151);
      }
      
      h1 {
        font-family: 'calibri';
        color: rgb(75, 108, 136);
        font-size: 30px;
        text-align: center;
      }

      p,h2,li {
        font-family: 'open sans';
        color: rgb(75, 108, 136);
        font-size: 16px;
        text-align: left;
      }

      img {
        margin: 25px 75px 50px 75px;
      }


